﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div align="center">
        <a href="/Home/Index"><h2>Welcome to Superblog!</h2></a>
    </div>
    <div align="center">
        <form method="post" action="">
            Check to accept deleting: <input type="checkbox" name="confirm" /> <br />
            <input type="hidden" name="id" value="@ViewBag.idToDelete" /><br />
            <input type="submit" value="Confirm!" />
        </form>
    </div>
</body>
</html>
