﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <div align="center">
            <a href="/Home/Index"><h2>Welcome to Superblog!</h2></a>
        </div>
        <form method="post" action="">
            <table width="50%" align="center">
                <tr>
                    <td>Author: <input type="text" name="Author" /></td>
                </tr>
                <tr>
                    <td>Title: <input type="text" name="Title" /></td>
                </tr>
                <tr>
                    <td>Description: <input type="text" name="Description" /></td>
                </tr>

                <tr>
                    <td><textarea name="FullText" rows="20" cols="60" align="center" placeholder="Your article text here"></textarea></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Post!" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
