﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div align="center">
        <a href="/Home/Index"><h2>Welcome to Superblog!</h2></a>
    </div>
    <div>
        @if (ViewBag.Publication != null && ViewBag.succes == true)
        {
        <form method="post" action="">
            <table width="50%" align="center">
                <tr>
                    <td>Author: <input type="text" value="@ViewBag.Publication.Author" name="Author" /></td>
                </tr>
                <tr>
                    <td>Title: <input type="text" value="@ViewBag.Publication.Title" name="Title" /></td>
                </tr>
                <tr>
                    <td>Description: <input type="text" value="@ViewBag.Publication.Description" name="Description" /></td>
                </tr>
                <tr>
                    <td><textarea name="FullText" rows="20" cols="60" placeholder="Your article text here">@ViewBag.Publication.FullText</textarea></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Confirm changes!" /> </td>
                </tr>
            </table>
            <input type="hidden" value="@ViewBag.Publication.PublicationId" name="PublicationId" />
        </form>
        }
        else
        {
            @ViewBag.result;
        }
        </div>
</body>
</html>
