﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Superblog</title>
    <script>
        document.addEventListener('keydown', function (event) {

            if (event.code == 'ArrowLeft') {
                var UrlToBackward = document.getElementById('backward').firstChild.nextSibling.href;
                if(typeof UrlToBackward != "undefined")
                    document.location.href = UrlToBackward;                            
            }
            if (event.code == 'ArrowRight') {
                var UrlToForward = document.getElementById('forward').firstChild.nextSibling.href;
                if(typeof UrlToForward != "undefined") 
                    document.location.href = UrlToForward;
            }               
        });
    </script>
</head>
<body width="50%">
    <div align="center">
        <a href="/Home/Index"><h2>Welcome to Superblog!</h2></a>
    </div>
    @if (ViewBag.succes == true && ViewBag.publ != null)
    {
    <div>
        <table width="50%" align="center">
            <tr>
                <td dir="rtl"><a href="/Home/Create">Publish your own article...</a></td>
            </tr>
            @foreach (var p in ViewBag.publ)
            {
                <tr>
                    <td><br />@p.Title</td>
                </tr>
                <tr>
                    <td>@p.Description</td>
                </tr>
                <tr>
                    <td><a href="/Home/Read/@p.PublicationId">Read full...</a></td>
                </tr>
            }
        </table>
        <table width="50%" align="center">
            <tr>
                <td id="backward" width="33%" align="center">
                    @if (ViewBag.page > 1)
                    {
                        <a href="\Home\Index\@(ViewBag.page - 1)"> <== Back </a>
                    }
                    else
                    {
                        <h4>X</h4>
                    }
                </td>
                <td width="33%" align="center"> ----- </td>
                <td id="forward" width="33%" align="center">
                    @if (ViewBag.page < ViewBag.pageMax)
                    {
                        <a href="\Home\Index\@(ViewBag.page + 1)"> Forward ==> </a>
                    }
                    else
                    {
                        <h4>X</h4>
                    }
                </td>
            </tr>
        </table>
    </div>
    }
    else
    {
        @ViewBag.result;
    }
</body>
</html>