﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Read</title>
</head>
<body>
    <div>
        <div align="center">
            <a href="/Home/Index"><h2>Welcome to Superblog!</h2></a>
        </div>
        @if (ViewBag.Publication != null && ViewBag.succes == true)
        {
            <table width="50%" align="center">
                <tr>
                    <td><p><h3>@ViewBag.Publication.Title</h3></p></td>
                </tr>
                <tr>
                    <td><p>Written by: @ViewBag.Publication.Author</p></td>
                </tr>
                <tr>
                    <td><p>@ViewBag.Publication.FullText</p></td>
                </tr>
                <tr>
                    <td>
                        <a href="/Home/Edit/@ViewBag.Publication.PublicationId">Edit</a>
                        <a href="/Home/Delete/@ViewBag.Publication.PublicationId">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="/Home/Index">Return</a></td>
                </tr>
            </table>
        }
        else
        {
            <p align="center">@ViewBag.result</p>
        }
    </div>
</body>
</html>
